<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>All Orders</title>
</head>
</style>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-white">NoodleShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-white" aria-current="page" href="#" th:href="@{/}">Home</a>
                    <a class="nav-link text-white" href="#" th:href="@{/select}">Menu</a>
                    <a class="nav-link text-white" href="#" th:href="@{/list}">Orders</a>
                    <a class="nav-link text-white" href="#" th:href="@{/design}">Design</a>
                </div>
            </div>
        </div>
    </nav>
    <h1 class="text-center pt-3">Order Status</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Placed at</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody sec:authorize="hasRole('ROLE_ADMIN')">
                <tr th:each="order : ${listOrders}">
                    <td th:text="${order.deliveryName}"></td>
                    <td th:text="${order.deliveryStreet} + ${', '} + ${order.deliveryCity} + ${', '} + ${order.deliveryPost}"></td>
                    <td>
                        <a th:href="@{'/list/' + ${order.id}}" th:text="${#numbers.formatCurrency(order.finalPrice/100)}"></a>
                    </td>
                    <td th:text="${order.placedAt}"></td>
                    <form method ="POST" th:action="@{/list}">
                        <div class="dropdown">
                                <td>
                                    <input th:name="orderID" type="hidden" th:value="${order.id}">
                                    <select class="form-select" onchange="this.form.submit()"
                                            aria-label="status-change" th:name="status">
                                        <option th:selected="${order.status == 0}" th:value="${0}">Cancelled</option>
                                        <option th:selected="${order.status == 1}" th:value="${1}">Not Ready</option>
                                        <option th:selected="${order.status == 2}" th:value="${2}">Cooking</option>
                                        <option th:selected="${order.status == 3}" th:value="${3}">On Delivery</option>
                                        <option th:selected="${order.status == 4}" th:value="${4}">Completed</option>
                                    </select>
                                </td>
                        </div>
                    </form>
                </tr>
            </tbody>
            <tbody sec:authorize="hasRole('ROLE_USER')">
            <tr th:each="order : ${listOrders}">
                <div th:if="${#authentication.name == order.user.username}">
                    <td th:text="${order.deliveryName}"></td>
                    <td th:text="${order.deliveryStreet} + ${', '} + ${order.deliveryCity} + ${', '} + ${order.deliveryPost}"></td>
                    <td>
                        <a th:href="@{'/list/' + ${order.id}}" th:text="${#numbers.formatCurrency(order.finalPrice/100)}"></a>
                    </td>
                    <td th:text="${order.placedAt}"></td>
                    <td>
                        <span th:if="${order.status == 0}">Cancelled</span>
                        <span th:if="${order.status == 1}">Not Ready</span>
                        <span th:if="${order.status == 2}">Cooking</span>
                        <span th:if="${order.status == 3}">On Delivery</span>
                        <span th:if="${order.status == 4}">Completed</span>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
</body>
</html>