<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Design a Noodle!</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-white">NoodleShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-white" aria-current="page" href="#" th:href="@{/}">Home</a>
                    <a class="nav-link text-white" href="#" th:href="@{/select}">Menu</a>
                    <a class="nav-link text-white" href="#" th:href="@{/list}">Orders</a>
                    <a class="nav-link text-white" href="#" th:href="@{/design}">Design</a>
                </div>
            </div>
        </div>
    </nav>
    <form method="POST" th:object="${item}">
        <div class = "container">
            <h1 class="pt-3">Create a New Item</h1>
            <div class="col">
                <label for="itemName" class="form-label">Name your Item</label>
                <input type="text" class="form-control" id="itemName" th:field="*{name}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Item name error
                        </span>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="description">Give a description</label>
                    <textarea class="form-control" id="description" rows="5" th:field="*{desc}"></textarea>
                </div>
            </div>
            <div class="col">
                <span class="form-label">Item Category</span>
                <div th:each="type :${itemTypes}">
                    <input class="form-check-input" th:field="*{type}" type="radio" th:value="${type.id}"/>
                    <span class="form-check-label" th:text="${type.desc}"></span></br>
                </div>
            </div>
            <div class="col">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" th:field="*{price}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('price')}"
                      th:errors="*{price}">Price error
                        </span>
            </div>
            <div class="col">
                <label for="image" class="form-label">Placeholder image name</label>
                <input type="text" class="form-control" th:field="*{image}">
                <span class="validationError"
                      th:if="${#fields.hasErrors('image')}"
                      th:errors="*{image}">Price error
                </span>
            </div>
            <div class="pt-3">
                <button type="submit" class="btn btn-light">Submit Item</button>
            </div>
        </div>
    </form>

</body>
</html>