<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Items</title>
</head>
<body>
    <h1>Select items from menu</h1>
    <form method="POST" th:object="${customItem}">
        <h3>Select Item</h3>
        <select th:field="${customItem.item}">
            <div th:each="item : ${items}">
                <option th:value="${item.id}" th:text="|${item.name} (${item.price})|"></option>
            </div>
        </select>
        <h3>Select Extras</h3>
        <div th:each="extra : ${extras}">
            <input th:field="*{extras}" type="checkbox" th:value="${extra.id}"/>
            <span th:text="|${extra.name} (${extra.price})|">EXTRA</span><br/>
        </div>
        <button>Continue Order</button>
    </form>
</body>
</html>