<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Items</title>
</head>
<body>
    <h1>Select items from menu</h1>
    <form method="POST" th:object="${customItem}">
        <h3>Select Item</h3>
        <select th:field="${customItem.item}">
            <div th:each="item : ${items}">
                <option th:value="${item.id}" th:text="|${item.name} (${item.price})|"></option>
            </div>
        </select>
        <h3>Select Extras</h3>
        <div th:each="extra : ${extras}">
            <input th:field="*{extras}" type="checkbox" th:value="${extra.id}"/>
            <span th:text="|${extra.name} (${extra.price})|">EXTRA</span><br/>
        </div>
        <button>Continue Order</button>
    </form>
    <h1>Current selected items</h1>
    <ul>
        <li th:each="item : ${manualOrder?.items}">
            <span th:text="|${item.item.name} (${item.totalPrice})|">item name</span>
            <ul>
                <li th:text="|${item.item.name} (${item.item.price})|"></li>
                <li th:each="extra : ${item?.extras}">
                    <span th:text="|${extra.name} (${extra.price})|"></span>
                </li>
            </ul>
        </li>
    </ul>
    <h2>Total Price: <span th:text="${manualOrder?.finalPrice}"></span></h2>
</body>
</html>