<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manually Add Order</title>
</head>
<body>
    <h1>Create an Order for Customer</h1>
    <form method ="POST" th:action="@{/orders}" th:object="${manualOrder}">
        <label for="deliveryName">Name: </label>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryName')}"
              th:errors="*{deliveryName}">Item name error
            </span>
        <input type="text" th:field="*{deliveryName}"/>
        <br/>
        <label for="deliveryStreet">Street address: </label>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryStreet')}"
              th:errors="*{deliveryStreet}">Item name error
        </span>
        <input type="text" th:field="*{deliveryStreet}"/>
        <br/>
        <label for="deliveryCity">City: </label>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryCity')}"
              th:errors="*{deliveryCity}">Item name error
        </span>
        <input type="text" th:field="*{deliveryCity}"/>
        <br/>
        <label for="deliveryProv">Province: </label>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryProv')}"
              th:errors="*{deliveryProv}">Item name error
            </span>
        <input type="text" th:field="*{deliveryProv}"/>
        <br/>
        <label for="deliveryPost">Postal code: </label>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryPost')}"
              th:errors="*{deliveryPost}">Item name error
            </span>
        <input type="text" th:field="*{deliveryPost}"/>
        <br/>
        <label for="ccNumber">Credit Card #: </label>
        <span class="validationError"
              th:if="${#fields.hasErrors('ccNumber')}"
              th:errors="*{ccNumber}">Item name error
            </span>
        <input type="text" th:field="*{ccNumber}"/>
        <br/>
        <label for="ccExpiration">Expiration: </label>
        <span class="validationError"
              th:if="${#fields.hasErrors('ccExpiration')}"
              th:errors="*{ccExpiration}">Item name error
            </span>
        <input type="text" th:field="*{ccExpiration}"/>
        <br/>
        <label for="ccCVV">CVV: </label>
        <span class="validationError"
              th:if="${#fields.hasErrors('ccCVV')}"
              th:errors="*{ccCVV}">Item name error
            </span>
        <input type="text" th:field="*{ccCVV}"/>
        <br/>
        <input type="submit" value="Submit Order"/>
    </form>
    <h1>Current selected items</h1>
    <ul>
        <li th:each="item : ${manualOrder?.items}">
            <span th:text="|${item.item.name} (${item.totalPrice})|">item name</span>
            <ul>
                <li th:text="|${item.item.name} (${item.item.price})|"></li>
                <li th:each="extra : ${item?.extras}">
                    <span th:text="|${extra.name} (${extra.price})|"></span>
                </li>
            </ul>
        </li>
    </ul>
    <h2>Total Price: <span th:text="${manualOrder?.finalPrice}"></span></h2>
</body>
</html>